* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-image: linear-gradient(#615dad, #ffc8da);
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}

img {
  width: 100%;
}

.hlavni {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  overflow: hidden;
  max-width: 365px;
  margin: 70px auto;
  background-color: #283e50;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  line-height: 150%;
}

.nadpis {
  margin: auto;
  padding-top: 40px;
  padding-bottom: 15px;
  font-family: 'Lobster', cursive, sans-serif;
  font-size: 47px;
  font-weight: 500;
}

.popisek {
  padding: 10px;
}

.buttons {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.tlacitko {
  width: auto;
  height: 50px;
  margin-top: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pravidla {
  background-color: #1fcca4;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacit {
  background-color: #0197f6;
}

.zacit:hover {
  background-color: #0090e9;
  /* cursor: pointer; */
  cursor: not-allowed; /* temp dokud nebude odkaz funkcni */
}

a:link,
a:visited {
  text-align: center;
  color: white;
  text-decoration: none;
}
